<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ page.title }} | {{ site.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/src/css/phipibeta.css">
        <link rel="icon" href="/src/img/phipibeta.png" type="image/png">
    </head>
    <body>
        {% include navbar.html %}
        <main class="container">
            {{ content }}
        </main>
        <script src="/src/js/phipibeta.js"></script>
    </body>
</html>